<!-- Powered by CTFd: https://github.com/CTFd/CTFd -->
{# Powered by CTFd: https://github.com/CTFd/CTFd #}
<section class="voidbox-banner">
	<div class="container voidbox-banner__grid">
		<div class="voidbox-banner__content">
			<span class="voidbox-banner__kicker">operations protocol // voidbox</span>
			<h1 class="voidbox-banner__title" data-glitch="VOIDBOX CAPTURE THE FLAG">VoidBox Capture The Flag</h1>
			<p class="voidbox-banner__subtitle"></p>
				24 teams. One mission. Capture the flag. 
				<br>Crafted by M4SEC and DeepSec, VoidBox is a local CTF in 1337 Rabat campus. 
				Navigate encrypted labyrinths, exploit hidden vulnerabilities, and claim your flag. 
				<br>The void calls, will you answer?
			</p>
      <div class="voidbox-banner__clubs">
        <span>1337 Rabat Club M4SEC</span>
        <span>1337 Tetouan Club DeepSec</span>
      </div>
    </div>
		<div class="voidbox-banner__artwork">
			<img src="{{ url_for('views.themes', path='img/voidbox_collab.png') }}" alt="M4SEC x DeepSec collaboration">
		</div>
	</div>
</section>
{# Powered by CTFd: https://github.com/CTFd/CTFd #}
<!-- Powered by CTFd: https://github.com/CTFd/CTFd -->
